@import './variables.scss';

@keyframes spinner-rotation {
    0% {
        transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }
    100% {
         transform: translate3d(-50%, -50%, 0) rotate(360deg);
         opacity: 1;
    }
}

@keyframes spinner-flashing {
    50% {
        opacity: 0.5;
      }
}

.loading-spinner {
    min-height: 35vh;
    opacity: 1;
    position: relative;
    animation: 2s linear infinite spinner-flashing; 
    &::before {
        animation: 2s linear infinite spinner-rotation;
        border: solid 3px $loading-spinner-background-color;
        border-bottom-color: $loading-spinner-color;
        border-radius: 50%;
        content: "";
        height: 40px;
        left: 50%;
        opacity: inherit;
        position: absolute;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);
        transform-origin: center;
        width: 40px;
        will-change: transform;
    }
}