// font-colors

$font-color-primary: #363636;
$font-color-secondary: #F8F8F8;
$font-color-tag: #FFFFFF;
$listing-section-heading-color: #45852D;

// colors

$listing-card-background-color: #F8F8F8;
$listing-card-border-color: #D8D8D8;
$listing-filter-input-border-color: #D8D8D8;
$listing-filter-input-border-color-active: #363636;
$listing-filter-input-background-color: #FFFFFF;
$listing-filter-input-background-color-active: #F8F8F8;
$listing-filter-input-placeholder-color: #36363657;
$listing-see-more-button-border-color: #D8D8D8;
$listing-see-more-button-background-color: transparent;
$listing-see-more-button-background-color-active: #45852D;
$loading-spinner-color: #45852D;
$loading-spinner-background-color: #36363657;
$listing-photo-background-color: #d3d3d3;

// viewports

$mobile-width: 779px;
$tablet-width: 780px;
$desktop-width: 1181px;

// fonts

$font-primary: "Open Sans", "Arial", sans-serif;